<% provide(:title, 'Help')  %>
<div class="center hero-unit">
<h1>WineNotes Help</h1>
<br/>
<p>Help is currently under construction.</p>
</div>
<p> If you are on this page you probably know the author and can bug him about writing a more
intuitive app</p>