<% provide(:title, 'Home')  %>
<div class="center hero-unit">
  <h1>Welcome to WineNotes</h1>

  <p>
    WineNotes manages your wine collection and let's you save tasting notes and purchase history
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>



