<% provide(:title, 'Home')  %>
<div class="center hero-unit">
  <h1>Welcome to WineNotes</h1>

  <p>
    WineNotes lets you review wines and share your reviews with friends
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>



