<div class="center hero-unit">
  <h1>Welcome to WineNotes</h1>

  <p>
    WineNotes lets you review wines and share your reviews with friends
  </p>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>



