<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to WineNotes</h1>

  <h3>
    WineNotes helps you manage your wine collection
  </h3>

  <ul>
    <li class="my-bullet">Rate wines</li>
    <li class="my-bullet">Record tasting notes</li>
    <li class="my-bullet">Track purchases</li>
  </ul>

  <div class="row">
    <div class="span2 formButtonGroup">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
    </div>
  </div>
</div>



