/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/


div.container {
    margin: 0 auto;
}


html {
    float: none;
    float: none;
}

body {
      /*font-family: Helvetica;*/
    font-family: 'Lato', sans-serif;
    background-color: rgba(254, 255, 209, 0.2);
    color: rgba(79, 38, 28, 0.93);
}

h1, h2, h3 {
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    color: rgba(79, 45, 39, 0.85);
    margin-top: 0px;
}

.my-h2 {
    font-size: 44px;
    font-weight: normal;
    color: rgba(79, 45, 39, 0.85);
}

div.navbar {
    height: 60px;
    box-shadow: 0px 2px 0px rgba(79, 45, 39, 0.75);
}

div.navbar-footer {
    height: 30px;
    box-shadow: 0px -2px 0px rgba(79, 45, 39, 0.75);

}

div.section-break {
    background: #e6e6e6;
    height: 1px;
    box-shadow: 0px 1px 1px rgba(79, 45, 39, 0.5);
    margin-top: 16px;
    margin-bottom: 16px;
}

div.section-break2 {
    margin-top: 20px;
}

.wineHeading {
    padding-top: 30px;
}

.footerText {
    padding-top: 8px;
    font-size: small;
}


.wineYear {
    font-size: 24px;
    font-style: italic;
    color: rgba(79, 45, 39, 0.65);
}

.wineProducer {
    font-style: italic;
    font-size: 24px;
    color: rgba(79, 45, 39, 0.65);
}

.wineName {
    font-size: 72px;
    margin-bottom: 10px;
    font-weight: 900;
}

.labelAndSpecs {
    margin-top: 20px;
}

.brand {
    font-size: 32px;
    text-decoration: none;
    color: #80042c;
    font-weight: 900;
}


ul.nav.pull-right {
    float: right;
    padding-top: 8px;
    margin-left: 0px;
}

ul.nav.pull-left {
    float: left;
    padding-left: 0px;
    margin-top: 9px;
}

ul.nav.pull-right li {
    display: inline-block;
}

.starRating {
    font-size: 16px;
    color: #ad3909;
}

.regularText p {
    font-size: 16px;
}

p.dollarRating {
    font-size: 16px;
}

.btn-nav {
    padding: 12px 0px 12px 18px;
    margin-bottom: 8px;
    border-radius: 2px;
    color: #80042c;
    text-decoration: none;
}

.btn-primary {
    padding: 5px 8px;
    border-radius: 5px;
    background: #09077b;
    color: #FFF;
    text-decoration: none;
    box-shadow: 2px 2px 2px #444444;
}

.btn-small {
    padding: 5px 8px;
    margin: 5px 5px;
    border-radius: 5px;
    background: #09077b;
    color: #FFF;
    text-decoration: none;
    box-shadow: 2px 2px 2px #444444;
}

.btn-mini {
    padding: 1px 4px 1px 4px;
    margin: 5px 5px;
    border-radius: 5px;
    background: #a4a4a4;
    color: #111111;
    text-decoration: none;
    box-shadow: 2px 2px 2px #444444;
}

.btn-large {
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 4px;
    background: #80042c;
    color: rgba(254, 255, 209, 0.9);
    text-decoration: none;
    box-shadow: 2px 2px 1px #333333;
    display: block;
}

.btn-cancel {
    background: rgba(128, 4, 44, 0.65);
    color: rgba(254, 255, 209, 0.9);
}

.btn-danger {
    background: red;
    box-shadow: 2px 2px 2px #444444;
    color: #fff;
}

.subHeading {
    font-size: 16px;
    color: rgba(79, 45, 39, 0.85);
}

.wineSummary {
    margin-bottom: 10px;
    float: left;
}

.purchaseHistory {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.pagination .disabled {
    color: rgba(128, 4, 44, 0.50);
}

div.pagination a {
   text-decoration: none;
    color: #80042c;
}

table.ratingTable {
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
}

div.ratingButtonGroup {
    float: left;
}

div.ratingButtonGroup  a {
    display: block;
}

.averageRating p {
    font-size: 16px;
    vertical-align: top;
    margin: 0px;
    font-style: italic;
}

.pull-left {
    float: left;
}

.pull-right {
  float: right;
}

.reviewSummary {

}

.reviewDate {
    font-style: italic;
    color: rgba(79, 45, 39, 0.50);

}

td.spaceRow {
    font-size: 0.5em;
}

div.wineQuickRatings p {
    font-size: 32px;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

div.wineQuickRatings p {
    font-size: 32px;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

div.wineQuickRatings p.dollarRating {
    font-size: 32px;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
}

.control-group {
    margin-top: 10px;
    font-size: 20px;
}

textarea, input, select {
    color: rgba(79, 45, 39, 0.75);
}

select option {
    color: rgba(79, 45, 39, 0.75)!important;
}

div.controls [class*="span"] {
    margin-left: 0px;
}

input[type="submit"] {
    border: 0;
}

div.formButtonGroup {
    margin-left: 0;
}

.my-bullet {
    font-size: 24px;
}

/*div.span3, div.span4, div.span5, div.span6, div.span7, div.span8 {*/
    /*border: 1px dotted black;*/
/*}*/
