
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.navbar {
    background: #d3d3d3;
    height: 50px;
    border-radius: 10px;
}

.brand {
    margin-top: 0px;
    font-size: 44px;
    text-decoration: none;
    color:  #09077b;
}

div.container {
    clear: both;
}

ul.nav.pull-right {
    float: right;
    margin-right: 20px;
}
ul.nav.pull-left {
    float: left;
}

ul.nav.pull-right li {
    display: inline-block;
}

.button-link {
    padding: 10px 15px;
    border-radius: 5px;
    background: #09077b;
    color: #FFF;
    text-decoration: none;
}


.footerText {
  padding-top: 10px;
  font-size: small;
}

.subHeading {
  font-weight: bold;
}

.wineSummary {
  margin-bottom: 10px;
}

.reviewSection {
  margin-top: 20px;
  margin-bottom: 10px;
}

.purchaseHistory {
  margin-top: 5px;
  margin-bottom: 5px;
}


