<% if @wine.purchases.any? %>
  <p>

  <div class="averageRating">
    <span class="subHeading">Average Price: </span>
    $<%= number_with_precision(@wine.purchases.average(:price), precision: 2) %>
  </div>
  <div class="averageRating">
    <span class="subHeading">Best Price: </span>
    $<%= number_with_precision(@wine.purchases.minimum(:price), precision: 2) %>
  </div>
  </p>
<% end %>

<%= link_to 'Purchase History', wine_purchases_path(@wine.id), :class => "btn btn-primary btn-mini" %>
