<div class="reviewSection2 span8">

<% if @wine.reviews.any? %>
  <h3>Recent Reviews</h3>

  <table class="table ratingTable ">
    <thead>
    <tr>
      <th>Date</th>
      <th>Rating</th>
      <th>Summary</th>
    </tr>
    </thead>
    <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.date.strftime("%m/%d/%Y") %></td>
        <td><%= review.score %></td>
        <td><%= review.summary %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @reviews %>
<% end %>
</div>
