<div class="reviewSection">

  <div class="row">

    <div class="span3">
      <span class="my-h2">Reviews</span>
    </div>

    <div class="span2">
      <%= link_to 'Rate It!', new_wine_review_path(@wine.id), :class => "btn btn-large" %>
    </div>
  </div>

  <div class="row">
    <div class="span8">
      <% if @wine.reviews.any? %>
        <div>
          <%= will_paginate @reviews, :param_name => 'reviews_page', :page_links => false %>
          <table>
            <thead>
            </thead>
            <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td class="starRating">
                  <% review.score.times do %>
                    ✯
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="reviewSummary"><%= review.summary %></td>
              </tr>
              <tr>
                <td class="reviewDate"><%= review.date.strftime("%m/%d/%Y") %></td>
              </tr>
              <td class="spaceRow">&nbsp;</td>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>