
<div class="reviewSection span8">
  <h2>Reviews</h2>

  <div class="span3">
    <div class="ratingButtonGroup">
      <%= link_to 'Rate It!', new_wine_review_path(@wine.id), :class => "btn btn-large" %>
      <br/>
    </div>
  </div>
  <div style="clear: both"></div>

  <% if @wine.reviews.any? %>
    <div class="span6">
      <table>
        <thead>
        </thead>
        <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td class="starRating">
              <% review.score.times do %>
                ✯
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="reviewSummary"><%= review.summary %></td>
          </tr>
          <tr>
            <td class="reviewDate"><%= review.date.strftime("%m/%d/%Y")%></td>
          </tr>
            <td class="spaceRow">&nbsp;</td>
         <% end %>
        </tbody>
      </table>
      <%= will_paginate @reviews %>
    </div>
  <% end %>
</div>