<% provide(:title, @wine.full_name) %>
<%= render 'wine_summary' %>
<div class="row">
  <div class="section-break">
  </div>
  <div class="row">
    <div class="span8">
      <%= render 'reviews' %>
    </div>
    <div class="span4">
      <%= render 'purchases' %>
    </div>
  </div>
</div>