<header class="header">
  <div class="row">
    <div class="navbar">
      <ul class="nav pull-left">
        <%= link_to "WineNotes", root_path, class: "brand" %>
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to "Wines", wines_path, class: "btn-nav" %></li>
        <li><%= link_to "Help", help_path, class: "btn-nav" %></li>
        <li><%= link_to "About", about_path, class: "btn-nav" %></li>
      </ul>
    </div>
  </div>
</header>
